@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: url('~@/assets/fonts/NunitoSans-Black.ttf'); /* IE9 Compat Modes */
}

body{
    margin: 0px;
    padding: 0px;
}
